.tweetBox{
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}

.tweetBox > form{
    display: flex;
    flex-direction: column;
}

.tweetBox__input{
    padding: 20px;
    display: flex;
}

.tweetBox__input > input{
    flex: 1;
    border: none;
    font-size:18px;
    margin-left: 20px;
}

.tweetBox__tweetButton{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 40 !important;
    width: 80px;
    margin-top: 20px !important;
    margin-left: 10px !important;
}

.tweetBox__imageInput{
    border:none;
    padding: 10px;
    font-size: 12px !important;
}